{% block floppy_file_row %}
    {{ form_row(form) }}
    {{ block("floppy_file_javascript", form.vars ) }}
{% endblock %}

{% block floppy_file_widget %}
    <div id="floppy-file-box{{ id }}" class="floppy-file-box">
        <div class="error-message"></div>
        {% if data and data.id %}
            <div id="floppy-preview-{{ id }}">
                {{ floppy_file_preview(data) }}
            </div>
            <input id="{{ id }}-id" type="hidden" value="{{ data.id }}" name="{{ full_name }}[id]" />
        {% else %}
            <div id="floppy-preview-{{ id }}"></div>
            <input type="hidden" id="{{ id }}-id" value="" name="{{ full_name }}[id]" />
        {% endif %}
        <input type="hidden" id="{{ id }}-attributes" value="{% if data and data.attributes.all %}{{ data.attributes.all|json_encode }}{% endif %}" name="{{ full_name }}[attributes]" />

        <div class="button-holder">
            <button id="floppy-file-button-{{ id }}" class="primary" data-text-upload="{{ "form.file.upload"|trans({}, "FloppyBundle")|e("html_attr") }}" data-text-replace="{{ "form.file.replace"|trans({}, "FloppyBundle")|e("html_attr") }}">{% if data and data.id %}{{ "form.file.replace"|trans({}, "FloppyBundle") }}{% else %}{{ "form.file.upload"|trans({}, "FloppyBundle") }}{% endif %}</button>
        </div>
        <div id="floppy-uploading-file-{{id}}" class="floppy-uploading">
            <div class="js-name"></div>
            <div class="floppy-file-progress-holder">
                <div class="js-bar bar"></div>
            </div>
            <span class="js-stop stop">x</span>
        </div>
    </div>

{% endblock %}

{% block floppy_file_javascript %}
    <script type="text/javascript">
        $(function(){
            if(typeof(plupload) == "undefined") {
                throw "plupload library is missing. You should include plupload script into your layout.";
            }

            if(typeof(FloppyFileFormType) == "undefined") {
                throw "FloppyFileFormType javascript is missing. You should include this script into your layout.";
            }

            var uploadingFileBox = $("#floppy-uploading-file-{{id}}");
            var uploadFileButton = $("#floppy-file-button-{{ id }}");
            var idInput = $("#{{ id }}-id");
            var attributesInput = $("#{{ id }}-attributes");
            var preview = $("#floppy-preview-{{ id }}");
            var box = $("#floppy-file-box{{ id }}");
            var errorBox = box.find(".error-message");

            var errorMessages = {
                "unsupported-file-type": "{{ "errors.unsupported_file_type"|trans({}, "FloppyBundle")|e("js") }}",
                "file-not-found": "{{ "errors.file_not_found"|trans({}, "FloppyBundle")|e("js") }}",
                "server-error": "{{ "errors.server_error"|trans({}, "FloppyBundle")|e("js") }}",
                "access-denied": "{{ "errors.access_denied"|trans({}, "FloppyBundle")|e("js") }}",
                "bad-request": "{{ "errors.bad_request"|trans({}, "FloppyBundle")|e("js") }}",
                "Invalid file type, given \"%current_file_type%\", allowed %allowed_file_types%": "{{ "errors.validation.invalid_file_type"|trans({}, "FloppyBundle")|e("js") }}"
            };

            var pluploader;
            var uploader = {
                start: function(){
                    pluploader.start();
                },
                stop: function(file){
                    pluploader.removeFile(pluploader.getFile(file.id()));
                }
            };

            var eventBus = new FloppyFileFormType.EventBus();

            var view = new FloppyFileFormType.View({
                eventBus: eventBus,
                box: box,
                previewBox: preview,
                errorBox: errorBox,
                attributesInput: attributesInput,
                idInput: idInput,
                uploadingFileBox: uploadingFileBox,
                uploadFileButton: uploadFileButton
            });

            var controller = new FloppyFileFormType.Controller({
                eventBus: eventBus,
                uploader: uploader,
                view: view,
                errorMessages: errorMessages,
                previewUrl: "{{ url("floppyFilePreview") }}"
            });

            pluploader = new plupload.Uploader({
                runtimes: '{{ transport_types|join(",")|e("js") }}',
                flash_swf_url : '{{ swf|replace({ "%request_base_path%": app.request.basePath }) }}',
                silverlight_xap_url : '{{ xap|replace({ "%request_base_path%": app.request.basePath }) }}',
                browse_button: 'floppy-file-button-{{ id }}',
                {#container: 'floppy-file-box{{ id }}',#}
                multi_selection: false,
                url: '{{ url }}',
                file_data_name: '{{ file_key }}',
                filters: {
                    mime_types: [
                        {% for fileType in file_types %}
                        { title: "{{ fileType.name|trans|e("js") }}", extensions: "{{ fileType.extensions|join(",")|e("js") }}"}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ]
                },
                {% if credentials %}
                multipart_params: {
                    {% for key,value in credentials %}
                        "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}
                    {% endfor %}
                },
                {% endif %}
                init: {
                    FilesAdded: function(up, files) {
                        controller.onFileAdded(new FloppyFileFormType.File(files[0].id, files[0].name));
                    },

                    UploadProgress: function(up, file) {
                        controller.onProgress(file.percent);
                    },

                    Error: function(up, response) {
                        controller.onError(response.response ? response.response : response);
                    },

                    FileUploaded: function(up, file, response) {
                        controller.onSuccess(response.response);
                    }
                }
            });

            pluploader.init();
        });
    </script>
{% endblock %}